.creategroup-container {
  position: relative;
  width: 90%;
  margin: auto;
  margin-bottom: 3rem;
  margin-top: 0.5rem;
}

#newGroupBtn {
  padding: 0.3rem 0;
  display: block;
  width: 11%;
  margin: auto;
  background-color: rgb(73, 209, 73);
  color: white;
  font-weight: 800;
  border: 2px solid white;
  border-radius: 10px;
  letter-spacing: 0.1rem;
}

#newGroupBtn:hover {
  transition: all 0.2s;
  color: rgb(73, 209, 73);
  background-color: white;
  border: 2px solid rgb(73, 209, 73);
}
