.findgroups-container {
  width: 20%;
  margin: auto;
}

.findgroups-container > h3 {
  color: #28638f;
}

.findgroups-container > input {
  padding: 0.2rem;
  border: none;
  border-radius: 4px;
  color: #28638f;
  background-color: rgba(40, 99, 143, 0.3);
}
