.navbar-container {
  width: 100vw;
  height: 80px;
  background-color: rgba(41, 206, 20, 0.9);
  border-bottom: 2px solid rgb(41, 175, 23);
  display: flex;
  align-items: center;
}

#username {
  margin-left: 0.5rem;
  font-size: 1.5rem;
  border-bottom: 1px solid #004d73;
  color: aliceblue;
}

.logo-container {
  margin-right: 2rem;
  padding: 0 1rem;
  width: 33%;
}

.navbar-items-container {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
}

.logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: aliceblue;
}

.logo span {
  color: #004d73;
  margin-left: 0.3rem;
  padding: 0 0.5rem;
  background-color: aliceblue;
  border-radius: 8px;
}

.log-ger-btns-container {
  width: 90%;
  padding-right: 5rem;
  display: flex;
  justify-content: right;
}

.log-ger-btns-container button {
  margin: 0 0.5rem;
}

.navbar-container button {
  border: none;
  padding: 0.3rem 1rem;
  font-size: 1rem;
  color: #004d73;
}
