.groupspage-container {
  padding: 1rem;
  width: 80vw;
  margin: auto;
}

.modal-form-container {
  position: absolute;
  width: 80vw;
  height: 50vh;
  left: 50%;
  translate: -50%;
  background-color: white;
}

.hidden {
  display: none;
}

.foundgroups-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
