.group-container {
  width: 60%;
  margin: 1.5rem auto 2.5rem;
  padding: 0.5rem 2rem;
  border: 1px solid rgba(40, 99, 143, 0.7);
}

.rows-counter-container {
  padding: 0.2rem 0.5rem;
  background-color: rgba(40, 99, 143, 0.2);
  color: rgba(40, 99, 143, 0.8);
  border-radius: 3px;
}

.group-time-container {
  padding: 0.2rem 0.5rem;
  background-color: rgba(40, 99, 143, 0.2);
  color: rgba(40, 99, 143, 0.8);
  border-radius: 3px;
}

.group-status {
  font-size: 1.2rem;
}
